{
  "extends": ["stylelint-config-standard", "stylelint-config-standard-scss"],

  "overrides": [
    {
      "customSyntax": "postcss-scss",
      "files": ["**/*.scss"]
    },
    {
      "customSyntax": "postcss-jsx",
      "files": ["**/*.{js,ts,jsx,tsx}"]
    }
  ],

  "rules": {
    "custom-property-pattern": [
      "^([a-zA-Z][a-zA-Z0-9]*)(-[a-zA-Z0-9]+)*$",
      {
        "message": "Expected custom property name to be kebab-case (allows CAPS because of MUI)"
      }
    ],
    "declaration-empty-line-before": "never",
    "media-query-no-invalid": null,
    "no-descending-specificity": null,
    "no-empty-source": null,
    "selector-class-pattern": [
      "^([a-zA-Z][a-zA-Z0-9]*)(-[a-zA-Z0-9]+)*$",
      {
        "message": "Expected custom property name to be kebab-case (allows CAPS because of MUI)"
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global", "local"]
      }
    ]
  }
}
