// breakpoints
$dc-breakpoint-xs: 0;
$dc-breakpoint-sm: 600px;
$dc-breakpoint-md: 900px;
$dc-breakpoint-lg: 1200px;
$dc-breakpoint-xl: 1536px;

// spacing
$dc-spacing: 8px;
$dc-spacing2: 16px;
$dc-spacing3: 24px;
$dc-spacing4: 32px;
