@use "/src/style/gbl.scss";

.carousel {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;

  &-active {
    background: #000;
  }

  &:focus {
    outline: none;
  }
}

:global {
  .keen-slider {
    transition: height 0.2s;
    align-items: flex-start;

    /* stylelint-disable-next-line selector-class-pattern */
    .keen-slider__slide {
      min-height: auto !important;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
