.app-bar {
  background-color: var(--dc-palette-background-paper);
  color: var(--dc-palette-text-primary);
}

.menu-button {
  margin-right: $dc-spacing2;
  height: 100%;
}

.brand-button {
  text-align: left;
}

.grid-brand {
  display: flex;
  align-items: center;
}

.grid-root {
  min-height: 80px;
}

.grid-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-height: 80px;
}

.grid-checkboxes-open {
  display: flex;
}

.expansion-panel {
  background-color: unset;
  background-image: unset;
  box-shadow: unset;
  width: 100%;
}

.expansion-panel-summary-content {
  margin: 0 !important;
}

.expansion-panel-summary-root {
  min-height: 80px !important;
}
